<section class="">
    <header class="">
      <h4>Adicione um <br>Card novo:</h4>
    </header>
    <form>
      <label for="card">Card:</label><br/>
      <input
        type="text"
        class="input"
        id="card"
        name="card"
        placeholder="Digite o conteudo"
        [(ngModel)]="card.content"
      >
      <div class="acoes">
        <button (click)="createCard()" class="botao" type="button">Salvar</button>
        <button routerLink="/listCard" (click)="cancel()" class="botao"  type="button">Cancelar</button>
      </div>
    </form>
  
    <p>{{card.content}}</p>
  </section>
  